body {
  background-color: #ececec !important;
}

.title {
  font-weight: bold;
}

.filter-button {
  margin-top: 28px !important;
}

label {
  font-weight: bold !important;
}


.navbar {
  border-radius: 0px !important;
}